
.nav {
    grid-area: n;
    background-color: #e6effc;
    padding: 20px;
  }

  .item {
    color: #20a4ce;
    text-decoration: none;
  }

  .active {
    color: #000000;
    text-decoration: none;
  }